.main-body{
    background-color: #EFF4FA;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}