.container{
    max-width: 100%;
    height: 100%;
    background-color: #EFF4FA;
    padding: 3%;
}
.materi-content{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}
.fasilitas-content{
    display: flex;
    justify-content: flex-end;
    margin-top: 5%;
}