.container{
    margin-top: 8%;
}
.container > p{
    font-weight: bold;
    font-size: 17.5px;
}
.input-promo{
    margin-bottom: 8%;
    width: 100%;
}
.input-promo > input{
    width: 70%;
    margin-right: 2%;
    padding: 2%;
    border-radius: 5px;
    border: none;
}
.input-promo > button{
    width: 25%;
    padding: 2%;
    border: none;
    background-color: #0b2b94ef;
    color: #fff;
    border-radius: 5px;
}
p.normal{
    font-size: medium;
    font-weight: normal;
}
.total-harga > p{
    font-weight: bold;
    font-size: 17.5px;
}
.total{
    font-weight: bold;
}
.harga{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bayar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cancel{
    cursor: pointer;
}
.bayar > button{
    padding: 3%;
    width: 35%;
    border: none;
    background-color: #0b2b94ef;
    color: #fff;
    border-radius: 50px;
}